.ellipsis{
  overflow:hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis>* {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}