.playlistListA {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlistListA-top {
  display: flex;
  gap: 1.5rem;
}

.playlistListA-cover img {
  vertical-align: middle;
}

.playlistListA-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.playlistListA-title {
  margin: 0;
  font: var(--headline1);
  color: var(--white);
}

.playlistListA-info {
  display: block;
  font: var(--basefont);
  color: var(--white);
}

.playlistListA-button .buttonIcon {
  max-inline-size: 9.5625rem;
  inline-size: 100%;
  block-size: 2rem;
  border-radius: 4.375rem;
  font: var(--basefont);
}

.playlistListA-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block-start: 1rem;
  padding-inline-end: 1rem;
  color: var(--white);
}

.playlistListA-filter .search i{
  color: var(--white);
}

.playlistListA-filter .search input{
  background: none;
}

.playlistListA-header{
  display: flex;
  color: var(--gray10);
}

.playlistListA-header > * {
  flex: 1;
  font: var(--subtitle);
  line-height: 1.375rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: .625rem;
  padding-block-start: .875rem;
  padding-block-end: .875rem;
}

.playlistListA-play,.playlistListA-like {
  max-inline-size: 2.375rem;
}

.playlistListA-play .playlistListA-playIcon{
  block-size: 1.5rem;
  inline-size: 1.5rem;
  background: none;
  border: 0.428571px solid #FFFFFF;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 0.541875rem;
}

.playlistListA-play .playlistListA-playIcon .icon-play{
  position: relative;
  left: 1px;
  top: 1px;
}

.playlistListA-like .playlistListA-likeIcon{
  block-size: 1.125rem;
  inline-size: 1.125rem;
  color: var(--white);
  background: none;
  border: none;
  font-size: 1.125rem;
  text-align: left;
}

.playlistListA-like .playlistListA-likeIcon .icon-heart{
  position: relative;
  top: 2px;
}

.playlistListA-likeIcon:active,.playlistListA-playIcon:active{
  transform: scale(.95);
}

.playlistListA-duration{
  max-inline-size: 2.9375rem;
  font-size: 1.125rem;
}

.playlistListA-addTime{
  max-inline-size: 5.625rem;
  font-size: 1.125rem;
}

.playlistListA-music-item{
  display: flex;
}

.playlistListA-music-item > * {
  flex: 1;
  font: var(--basefont);
  line-height: 1.5625rem;
  margin: 0;
  padding-inline-start: .625rem;
  padding-block-start: .875rem;
  padding-block-end: .875rem;
}