::-webkit-scrollbar{
  inline-size: .5rem;
  block-size: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--gray40);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray30);
}